# Python
__pycache__/
*.py[cod]
*.so
.venv/
.python-version
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Documentation
docs/_build/
docs/generated/

# Generated plots and editors
*.pdf
*.png
*.log*
.ipynb_checkpoints
.DS_Store
.idea/
.vscode/
*~
